<div class="chat-header">
 <div class="left1-header">
  <div class="depertment-title">
   与信ガバナンス部
  </div>
 </div>
 <div class="left2-header">
  <div class="division-title">
   審査課
  </div>
 </div>
 <div class="right1-header">
  <div class="section-title">
   審査１課
  </div>
 </div>
 <div class="right-header">
  <div class="sign-up">
   <a href="#">新規登録</a>
  </div>
 </div>
</div>

<div class="messages">
 <div class="left-message">
  <div class="upper-message">
    <div class="number">名前</div>
    <div class="name">フリガナ</div>
    <div class="extension">役職</div>
    <div class="position">内線番号</div>
  </div>
  <div class="bottom-message">
   <div class="number">
    山口和也あいうえ<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    20202020<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>
    11111111<br>

   </div>
   <div class="name">
    名噛んだカリリョウタロウuuuuuuuuuuuuuuuuu
   </div>
   <div class="extension">
    一般社員
   </div>
   <div class="position">
    1111
   </div>
  </div>
 </div>
 

 <div class="right-message">
  詳細ページ
 </div>
</div>



<div class="form">

</div>
