<div class="side-bar-header">
 ＜名前検索＞
</div>



<div class="rooms">
 ＜部署一覧＞
 <div class="depertment">
  <div class="depertment-name">
   <a href="#">与信ガバナンス部</a>
  </div>
  <div class="division-name">
   <a href="#">審査課</a>
  </div>
  <div class="section-name">
   <a href="#">審査１係</a>
  </div>
 </div>
</div>
